/*styles go here*/
#container{
  width: 95%;
  background-color: lightpink;
  margin: 0 auto;
}

#menu {
  width: 35px;
  height: 35px;
  margin: 40px 0px 30px 30px;
  cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color:lightblue;
    display: block;
    border-radius: 5px;
}

#bar1{
  transform:translateY(-5px);
}

#bar3{
  transform:translateY(5px);
}

.change .bar {
  background-color: white;
}

.change #bar1{
  transform:translateY(4px) rotateZ(-45deg);
}

.change #bar2{
  opacity: 0;
}

.change #bar3{
  transform:translateY(-6px) rotateZ(45deg);
}

.change{
  display: block;
}

.menu-bg{
  z-index: 1;
  width: 0;
  height: 0;
  background:radial-gradient(circle,lightpink,lightblue);
  border-radius:50%;
  transition: 1s ease;
  margin: 40px 0px 30px 30px;
}

.nav li a{
  color: blue;
  text-decoration: none;
}

.nav li{
  list-style: none;
  padding: 20px 0;
}

.nav {
  padding: 4px;
  margin: 0 23px;
  transition: 1.2s ease;
  display: none;
}
#menu-bar{
  z-index: 2;
}

.change-bg{
  width: 550px;
  height:540px;
  transform:translate(-50%,-40%)
}

.menu-bg #menu-bar{
  top:0;
  left: 0;
  position: absolute;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100px;
}

h2 {
    color: lightpink;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 75px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
body {
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 30px;
}

li {
  font-family: 'Manjari', sans-serif;
  font-weight: 300;
  font-size: 20px;
}


img {
  border:0;
}
