h1 {
    color: gray;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 90px;
}

h2 {
    color: gray;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

p {
    color: gray;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
}


#footer p{
  line-height: 0.8em;
  font-size: 12px;
}

#footer a:link, #footer a:visited{
 text-decoration: none;
 color:gray;
}

body {
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 30px;
}

li {
  font-family: 'Manjari', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
