/*styles go here*/
#container{
  width: 95%;
  background-color: lightpink;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background-color: white;
  margin: 0px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
  background-color: lightblue;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 1px;
  font-size: 20px;
}


h1 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100px;
}

h2 {
    color: lightpink;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 75px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
body {
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 30px;
}

li {
  list-style-type: none;
  font-family: 'Manjari', sans-serif;
  font-weight: 300;
  font-size: 20px;
}


img {
  border:0;
}
